<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzn.project.device.mapper.DeviceMapper">
    
    <resultMap type="Device" id="DeviceResult">
        <result property="gId"    column="g_id"    />
        <result property="dId"    column="d_id"    />
    </resultMap>

    <sql id="selectDeviceVo">
        select g_id, d_id from device
    </sql>

    <select id="selectDeviceList" parameterType="Device" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        <where>
            <if test="gId != null "> and g_id = #{gId}</if>
            <if test="dId != null "> and d_id = #{dId}</if>
        </where>
    </select>

    <select id="selectDeviceById" parameterType="Long" resultMap="DeviceResult">
        <include refid="selectDeviceVo"/>
        where g_id = #{gId}
    </select>

    <insert id="insertDevice" parameterType="Device">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gId != null ">g_id,</if>
            <if test="dId != null ">d_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gId != null ">#{gId},</if>
            <if test="dId != null ">#{dId},</if>
         </trim>
    </insert>

    <update id="updateDevice" parameterType="Device">
        update device
        <trim prefix="SET" suffixOverrides=",">
            <if test="dId != null ">d_id = #{dId},</if>
        </trim>
        where g_id = #{gId}
    </update>

    <delete id="deleteDeviceById" parameterType="Long">
        delete from device where g_id = #{gId}
    </delete>

    <delete id="deleteDeviceByIds" parameterType="String">
        delete from device where g_id in
        <foreach item="gId" collection="array" open="(" separator="," close=")">
            #{gId}
        </foreach>
    </delete>

</mapper>