<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzn.project.dictionaries.mapper.DictionariesMapper">
    
    <resultMap type="Dictionaries" id="DictionariesResult">
        <result property="id"    column="id"    />
        <result property="dictTitle"    column="dict_title"    />
        <result property="dictSign"    column="dict_sign"    />
        <result property="dictType"    column="dict_type"    />
        <result property="dictCode"    column="dict_code"    />
    </resultMap>

    <sql id="selectDictionariesVo">
        select id, dict_title, dict_sign, dict_type, dict_code from dictionaries
    </sql>

    <select id="selectDictionariesList" parameterType="Dictionaries" resultMap="DictionariesResult">
        <include refid="selectDictionariesVo"/>
        <where>
            <if test="dictTitle != null  and dictTitle != ''"> and dict_title = #{dictTitle}</if>
            <if test="dictSign != null  and dictSign != ''"> and dict_sign = #{dictSign}</if>
            <if test="dictType != null  and dictType != ''"> and dict_type = #{dictType}</if>
            <if test="dictCode != null  and dictCode != ''"> and dict_code = #{dictCode}</if>
        </where>
    </select>

    <select id="selectDictionariesById" parameterType="Long" resultMap="DictionariesResult">
        <include refid="selectDictionariesVo"/>
        where id = #{id}
    </select>

    <insert id="insertDictionaries" parameterType="Dictionaries" useGeneratedKeys="true" keyProperty="id">
        insert into dictionaries
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dictTitle != null  and dictTitle != ''">dict_title,</if>
            <if test="dictSign != null  and dictSign != ''">dict_sign,</if>
            <if test="dictType != null  and dictType != ''">dict_type,</if>
            <if test="dictCode != null  and dictCode != ''">dict_code,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dictTitle != null  and dictTitle != ''">#{dictTitle},</if>
            <if test="dictSign != null  and dictSign != ''">#{dictSign},</if>
            <if test="dictType != null  and dictType != ''">#{dictType},</if>
            <if test="dictCode != null  and dictCode != ''">#{dictCode},</if>
         </trim>
    </insert>

    <update id="updateDictionaries" parameterType="Dictionaries">
        update dictionaries
        <trim prefix="SET" suffixOverrides=",">
            <if test="dictTitle != null  and dictTitle != ''">dict_title = #{dictTitle},</if>
            <if test="dictSign != null  and dictSign != ''">dict_sign = #{dictSign},</if>
            <if test="dictType != null  and dictType != ''">dict_type = #{dictType},</if>
            <if test="dictCode != null  and dictCode != ''">dict_code = #{dictCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDictionariesById" parameterType="Long">
        delete from dictionaries where id = #{id}
    </delete>

    <delete id="deleteDictionariesByIds" parameterType="String">
        delete from dictionaries where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>