<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzn.project.job.mapper.SysJobPOMapper">
    
    <resultMap type="SysJobPO" id="SysJobPOResult">
        <result property="jobid"    column="jobId"    />
        <result property="beanName"    column="bean_name"    />
        <result property="startMethodName"    column="start_method_name"    />
        <result property="endMethodName"    column="end_method_name"    />
        <result property="methodParams"    column="method_params"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="jobStatus"    column="job_status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysJobPOVo">
        select jobId, bean_name, start_method_name, end_method_name, method_params, start_time, end_time, job_status, remark, create_time, update_time from sys_job_p_o
    </sql>

    <select id="selectSysJobPOList" parameterType="SysJobPO" resultMap="SysJobPOResult">
        <include refid="selectSysJobPOVo"/>
        <where>  
            <if test="beanName != null  and beanName != ''"> and bean_name like concat('%', #{beanName}, '%')</if>
            <if test="startMethodName != null  and startMethodName != ''"> and start_method_name like concat('%', #{startMethodName}, '%')</if>
            <if test="endMethodName != null  and endMethodName != ''"> and end_method_name like concat('%', #{endMethodName}, '%')</if>
            <if test="methodParams != null  and methodParams != ''"> and method_params = #{methodParams}</if>
            <if test="startTime != null  and startTime != ''"> and start_time = #{startTime}</if>
            <if test="endTime != null  and endTime != ''"> and end_time = #{endTime}</if>
            <if test="jobStatus != null "> and job_status = #{jobStatus}</if>
        </where>
    </select>
    
    <select id="selectSysJobPOById" parameterType="Long" resultMap="SysJobPOResult">
        <include refid="selectSysJobPOVo"/>
        where jobId = #{jobid}
    </select>
        
    <insert id="insertSysJobPO" parameterType="SysJobPO" useGeneratedKeys="true" keyProperty="jobid">
        insert into sys_job_p_o
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="beanName != null  and beanName != ''">bean_name,</if>
            <if test="startMethodName != null  and startMethodName != ''">start_method_name,</if>
            <if test="endMethodName != null  and endMethodName != ''">end_method_name,</if>
            <if test="methodParams != null  and methodParams != ''">method_params,</if>
            <if test="startTime != null  and startTime != ''">start_time,</if>
            <if test="endTime != null  and endTime != ''">end_time,</if>
            <if test="jobStatus != null ">job_status,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null  and updateTime != ''">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="beanName != null  and beanName != ''">#{beanName},</if>
            <if test="startMethodName != null  and startMethodName != ''">#{startMethodName},</if>
            <if test="endMethodName != null  and endMethodName != ''">#{endMethodName},</if>
            <if test="methodParams != null  and methodParams != ''">#{methodParams},</if>
            <if test="startTime != null  and startTime != ''">#{startTime},</if>
            <if test="endTime != null  and endTime != ''">#{endTime},</if>
            <if test="jobStatus != null ">#{jobStatus},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null  and updateTime != ''">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysJobPO" parameterType="SysJobPO">
        update sys_job_p_o
        <trim prefix="SET" suffixOverrides=",">
            <if test="beanName != null  and beanName != ''">bean_name = #{beanName},</if>
            <if test="startMethodName != null  and startMethodName != ''">start_method_name = #{startMethodName},</if>
            <if test="endMethodName != null  and endMethodName != ''">end_method_name = #{endMethodName},</if>
            <if test="methodParams != null  and methodParams != ''">method_params = #{methodParams},</if>
            <if test="startTime != null  and startTime != ''">start_time = #{startTime},</if>
            <if test="endTime != null  and endTime != ''">end_time = #{endTime},</if>
            <if test="jobStatus != null ">job_status = #{jobStatus},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null  and updateTime != ''">update_time = #{updateTime},</if>
        </trim>
        where jobId = #{jobid}
    </update>

    <delete id="deleteSysJobPOById" parameterType="Long">
        delete from sys_job_p_o where jobId = #{jobid}
    </delete>

    <delete id="deleteSysJobPOByIds" parameterType="String">
        delete from sys_job_p_o where jobId in 
        <foreach item="jobid" collection="array" open="(" separator="," close=")">
            #{jobid}
        </foreach>
    </delete>
    
</mapper>