<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzn.mapper.SystemUserMapper">

    <select id="selectSystemUserByAccount"  resultType="com.common.pojo.SystemUser">
        SELECT ID,USER_NAME,ACCOUNT,PSD FROM SYSTEM_USER WHERE account =#{account}
    </select>

</mapper>
