<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyzn.project.task.mapper.TimedTaskMapper">
    
    <resultMap type="TimedTask" id="TimedTaskResult">
        <result property="id"    column="id"    />
        <result property="taskName"    column="task_name"    />
        <result property="timeQuantum"    column="time_quantum"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTimedTaskVo">
        select id, task_name, time_quantum, create_time,update_time from timed_task
    </sql>

    <select id="selectTimedTaskList" parameterType="TimedTask" resultMap="TimedTaskResult">
        <include refid="selectTimedTaskVo"/>
        <where>
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="timeQuantum != null  and timeQuantum != ''"> and time_quantum = #{timeQuantum}</if>
        </where>
    </select>

    <select id="selectTimedTaskById" parameterType="Long" resultMap="TimedTaskResult">
        <include refid="selectTimedTaskVo"/>
        where id = #{id}
    </select>

    <insert id="insertTimedTask" parameterType="TimedTask" useGeneratedKeys="true" keyProperty="id">
        insert into timed_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null  and taskName != ''">task_name,</if>
            <if test="timeQuantum != null  and timeQuantum != ''">time_quantum,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null  and taskName != ''">#{taskName},</if>
            <if test="timeQuantum != null  and timeQuantum != ''">#{timeQuantum},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateTimedTask" parameterType="TimedTask">
        update timed_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null  and taskName != ''">task_name = #{taskName},</if>
            <if test="timeQuantum != null  and timeQuantum != ''">time_quantum = #{timeQuantum},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTimedTaskById" parameterType="Long">
        delete from timed_task where id = #{id}
    </delete>

    <delete id="deleteTimedTaskByIds" parameterType="String">
        delete from timed_task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>