<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spray.project.log.mapper.SystemLogMapper">
    
    <resultMap type="SystemLog" id="SystemLogResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="logLevel"    column="log_level"    />
        <result property="operationUnit"    column="operation_unit"    />
        <result property="method"    column="method"    />
        <result property="args"    column="args"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="logDescribe"    column="log_describe"    />
        <result property="operationType"    column="operation_type"    />
        <result property="runTime"    column="run_time"    />
        <result property="returnValue"    column="return_value"    />
        <result property="ipAddress"    column="ip_address"    />
    </resultMap>

    <sql id="selectSystemLogVo">
        select id, create_time, log_level, operation_unit, method, args, user_id, user_name, log_describe, operation_type, run_time, return_value, ip_address from system_log
    </sql>

    <select id="selectSystemLogList" parameterType="SystemLog" resultMap="SystemLogResult">
        <include refid="selectSystemLogVo"/>
        <where>
            <if test="logLevel != null "> and log_level = #{logLevel}</if>
            <if test="operationUnit != null  and operationUnit != ''"> and operation_unit = #{operationUnit}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
            <if test="args != null  and args != ''"> and args = #{args}</if>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="logDescribe != null  and logDescribe != ''"> and log_describe = #{logDescribe}</if>
            <if test="operationType != null  and operationType != ''"> and operation_type = #{operationType}</if>
            <if test="runTime != null "> and run_time = #{runTime}</if>
            <if test="returnValue != null  and returnValue != ''"> and return_value = #{returnValue}</if>
            <if test="ipAddress != null  and ipAddress != ''"> and ip_address = #{ipAddress}</if>
        </where>
    </select>

    <select id="selectSystemLogById" parameterType="String" resultMap="SystemLogResult">
        <include refid="selectSystemLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertSystemLog" parameterType="SystemLog">
        insert into system_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="logLevel != null ">log_level,</if>
            <if test="operationUnit != null  and operationUnit != ''">operation_unit,</if>
            <if test="method != null  and method != ''">method,</if>
            <if test="args != null  and args != ''">args,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="logDescribe != null  and logDescribe != ''">log_describe,</if>
            <if test="operationType != null  and operationType != ''">operation_type,</if>
            <if test="runTime != null ">run_time,</if>
            <if test="returnValue != null  and returnValue != ''">return_value,</if>
            <if test="ipAddress != null  and ipAddress != ''">ip_address,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="logLevel != null ">#{logLevel},</if>
            <if test="operationUnit != null  and operationUnit != ''">#{operationUnit},</if>
            <if test="method != null  and method != ''">#{method},</if>
            <if test="args != null  and args != ''">#{args},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="logDescribe != null  and logDescribe != ''">#{logDescribe},</if>
            <if test="operationType != null  and operationType != ''">#{operationType},</if>
            <if test="runTime != null ">#{runTime},</if>
            <if test="returnValue != null  and returnValue != ''">#{returnValue},</if>
            <if test="ipAddress != null  and ipAddress != ''">#{ipAddress},</if>
         </trim>
    </insert>

    <update id="updateSystemLog" parameterType="SystemLog">
        update system_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="logLevel != null ">log_level = #{logLevel},</if>
            <if test="operationUnit != null  and operationUnit != ''">operation_unit = #{operationUnit},</if>
            <if test="method != null  and method != ''">method = #{method},</if>
            <if test="args != null  and args != ''">args = #{args},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="logDescribe != null  and logDescribe != ''">log_describe = #{logDescribe},</if>
            <if test="operationType != null  and operationType != ''">operation_type = #{operationType},</if>
            <if test="runTime != null ">run_time = #{runTime},</if>
            <if test="returnValue != null  and returnValue != ''">return_value = #{returnValue},</if>
            <if test="ipAddress != null  and ipAddress != ''">ip_address = #{ipAddress},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSystemLogById" parameterType="String">
        delete from system_log where id = #{id}
    </delete>

    <delete id="deleteSystemLogByIds" parameterType="String">
        delete from system_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>